#header{
  background-color: #cdd3de;
}
#content{
  width: 50%;
  height: 300px;
  float: left;
  background-color: #f0b7c0;
}
#sidebar{
  width: 20%;
  height: 200px;
  float: right;
  background-color: #f0d2e6;
}
#sidebar2{
  width: 30%;
  height: 200px;
  float: left;
  background-color: #c3eedf;
}
#footer{
  height: 20px;
  background-color: #f7f9c2;
}
.centerbody{
  display: inline-block;
  width: 100%;
  height:300px;
